<div class="cont">
  
  <div [@fadeInDown]="fadeInDown">
       
  <h1 class="display-4">Comments:</h1>

  <h3>( {{team}} <b [@zoomIn]="zoomIn" class="hov">{{arrayLength}})</b></h3>
  </div> 
  <hr> 
 
  <div *ngIf='preloader' class="position">
    <app-preloader></app-preloader>
  </div>

  <div id='block'>
    <div *ngFor='let item of array'> 

      <mat-list role="list"> 

        <mat-list-item role="listitem" class="hov">
         <div><img src="{{item.img}}" alt="" width="50px" height="50px" style="border-radius: 50%"  [@slideInDown]="slideInDown"></div> 

          <div>{{item.text}}</div> 
          

        </mat-list-item>

      </mat-list> 

      <div *ngIf='show' class="left"><button class="btn btn-danger" (click)="del()" disabled>Delete</button></div>
      <div *ngIf='hide' class="left"><button class="btn btn-danger" (click)="del(item.text)">Delete</button></div>
      <hr style="background-color:  white"> 
     
    </div>

  </div>
  <div class="form-group">
    <input style="width: 100%" type="text" class="form-control" id="exampleInputPassword1" placeholder="Comment"
      [(ngModel)]='text'>
  </div>   

  <div *ngIf='show'> <button type="submit" class="btn btn-success" (click)='add()' disabled>Add</button> </div>
  <div *ngIf='hide'> <button type="submit" class="btn btn-success" (click)='add()'>Add</button> </div>


</div>

