<div class="navigate">
        <button class="btn btn-success" (click)='showAll()'>All Films</button>
        <button class="btn btn-danger" (click)='showFavorite()'>Favorites</button>
</div>

<div class="container">
        <div class="example-form">
                <h1>Film... </h1>
                <input type="text" placeholder="Write..." [(ngModel)]='text' (keyup)='KeyUpsendMessage()'
                        class="form-control">

        </div>

        <div class="blocks">


                <div *ngIf='all'>
                        <div *ngFor='let film of films'>
                                <div class="block" (click)='about(film)'>

                                        <div><b>{{film.Title}}</b> </div>
                                        <div> <img src="{{film.Poster}}" alt="" width="350px" height="350px"></div>
                                        <h1>{{bestFilms.Title}}</h1>
                                </div>

                        </div>
                </div>

                <div *ngIf='All' class="all">

                        <div *ngFor='let film of films2'>
                                <div class="block" (click)='about(film)'>
                                        <div><b>{{film.Title}}</b> </div>
                                        <div> <img src="{{film.Poster}}" alt="" width="350px" height="350px"></div>

                                </div>
                        </div>
                </div>


                <div *ngIf='Favorites' class="all">
                        <div *ngFor='let film of bestFilms'>
                                <div class="block">

                                        <div><b>{{film.Title}}</b> </div>
                                        <div (click)='about(film)'> <img src="{{film.Poster}}" alt="" width="350px"
                                                        height="350px"></div>
                                        <button class="btn btn-danger" (click)='delete(film.imdbID)'>delete</button>

                                </div>

                        </div>
                </div>

        </div>

</div>