<div class="cont">

  <div class="text">Dairy app</div>
  <div class="text2">Comment with no sense</div>

  <div class="show" *ngIf='show'>

    <div class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" [(ngModel)]="login">
      </mat-form-field><br>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type='password' [(ngModel)]="password">
      </mat-form-field>
    </div>

    <div class="btn">
      <button mat-raised-button (click)='log()'>Login</button>

      <button mat-raised-button>Cancel</button>
    </div>
  </div>


  <div class="hide" *ngIf='hide'>
    <div style="color: blanchedalmond;font-size:larger">Id: {{user}}</div>
    <button mat-raised-button (click)='logout()'>Log out</button>
  </div>

</div>