.cont{
    background-color: black;
    /* width: 20%; */
    height: 100%;
    
}
 .example-form {
   padding-top:40%;
   
}
input{
    color: white;
    
}
.text{
    color: white; 
    font-size: -webkit-xxx-large;
    padding: 20px;
}

.text2{
    color: silver;
    font-size: x-large;
    padding-left: 20px;
}
button{  
    background: blue;
    
    
}
.btn{
    padding-left: 20px ;
   padding-top:2%;
}
.btn button{
    margin: 12px 
}

.hide{
    margin-top:750px;
    display: flex;
    justify-content: space-between
    
}
.hide div{
    font-size: smaller
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  